<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="sportico" translate="label" sortOrder="10">
            <label>Sportico</label>
        </tab>
        <section id="sportico" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Reversa Transacciones</label>
            <tab>sportico</tab>
            <resource>Softtek_ReverseTransactions::general_configuration</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Configuración General</label>
                <field id="notify_reverse_transactions_mail" translate="label" type="text" sortOrder="04" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Email para reporte de Reversas Automáticas</label>
                </field>
            </group>
        </section>
    </system>
</config>