<?xml version="1.0"?>
<!--
 * @package     Plumrocket_DataPrivacy
 * @copyright   Copyright (c) 2020 Plumrocket Inc. (https://plumrocket.com)
 * @license     https://plumrocket.com/license   End-user License Agreement
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <prgdpr>
            <general>
                <enable>0</enable>
                <serial></serial>
            </general>
            <dashboard>
                <guest_enable>0</guest_enable>
                <guest_expiration_link>3</guest_expiration_link>
            </dashboard>
            <removal_settings>
                <anonymization_key>Deleted</anonymization_key>
            </removal_settings>
            <email>
                <sender_name>Support Team</sender_name>
                <sender_email>data-privacy-support@example.com</sender_email>
                <download_confirmation_template>prgdpr_email_download_confirmation_template</download_confirmation_template>
                <removal_request_template>prgdpr_email_removal_request_template</removal_request_template>
                <admin_removal_request_template>prgdpr_email_admin_removal_request_template</admin_removal_request_template>
                <guest_email_template>prgdpr_email_guest_email_template</guest_email_template>
            </email>
        </prgdpr>
    </default>
</config>
