<?xml version="1.0"?>
<!--
 * @package     Plumrocket_DataPrivacy
 * @copyright   Copyright (c) 2020 Plumrocket Inc. (https://plumrocket.com)
 * @license     https://plumrocket.com/license   End-user License Agreement
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Plumrocket_DataPrivacy" setup_version="1.0.0">
        <sequence>
            <module name="Plumrocket_Base"/>
            <module name="Plumrocket_GDPR"/>
        </sequence>
    </module>
</config>
