<!--@subject Your Account has Been Scheduled for Removal @-->
<!--@vars
{"store url=\"\"":"Store Url",
"skin url=\"images/logo_email.gif\" _area='frontend'":"Email Logo Image",
"var store.getFrontendName()":"Store Name"}
@-->

<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->
<body style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<div style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
    <table cellspacing="0" cellpadding="0" border="0" width="100%">
        <tr>
            <td align="center" valign="top" style="padding:20px 0 20px 0">
                <table bgcolor="#FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" style="border:1px solid #E0E0E0;">
                    <!-- [ header starts here] -->
                    <tr>
                        <td valign="top"><a href="{{store url=""}}"><img src="{{var logo_url}}" alt="{{var logo_alt}}" style="margin-bottom:10px;" border="0"/></a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h1>Sua conta foi agendada para remoção</h1>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Este e-mail serve como confirmação de que sua conta da loja foi agendada para remoção.</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Se você tiver alguma dúvida sobre este e-mail ou não solicitou a remoção dos dados da sua conta - faça login para alterar a senha da sua conta e entre em contato com nosso suporte imediatamente! A solicitação de remoção de conta será cancelada automaticamente depois que você fizer login novamente em sua conta.</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>
                                <a href="{{store url='customer/account/login'}}">Faça login para cancelar a remoção</a>&nbsp;
                                <a href="{{store url='contact'}}">Contato</a>&nbsp;
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#EAEAEA" align="center" style="background:#EAEAEA;">
                            <p>
                                Obrigado, {{var store.getFrontendName()}}
                            </p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
</body>
