<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_cart_product_add_after">
        <observer name="addtocart_obs" disabled="true" />
        <observer name="st_addtocart_obs" instance="Softtek\Sendinblue\Observer\SibCartObserver"/>
    </event>
    <event name="sales_quote_remove_item">
        <observer name="addtocart_obs" disabled="true" />
        <observer name="st_addtocart_obs" instance="Softtek\Sendinblue\Observer\SibCartObserver"/>
    </event>
    <event name="checkout_cart_update_items_after">
        <observer name="addtocart_obs" disabled="true" />
        <observer name="st_addtocart_obs" instance="Softtek\Sendinblue\Observer\SibCartObserver"/>
    </event>
</config>
