<?xml version="1.0"?>
<!--
/**
 * Plumrocket Inc.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the End-user License Agreement
 * that is available through the world-wide-web at this URL:
 * http://wiki.plumrocket.net/wiki/EULA
 * If you are unable to obtain it through the world-wide-web, please
 * send an email to support@plumrocket.com so we can send you a copy immediately.
 *
 * @package     Plumrocket_GDPR
 * @copyright   Copyright (c) 2019 Plumrocket Inc. (http://www.plumrocket.com)
 * @license     http://wiki.plumrocket.net/wiki/EULA  End-user License Agreement
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Plumrocket\GDPR\Controller\Consentcheckboxes\Manage">
        <arguments>
            <argument name="customerSession" xsi:type="object">Magento\Customer\Model\Session</argument>
        </arguments>
    </type>
    <type name="Plumrocket\GDPR\Observer\SaveConsentsObserver">
        <arguments>
            <argument name="disallowedActions" xsi:type="array">
                <item name="myAccountConsentSubmit" xsi:type="string">prgdpr_consentcheckboxes_update</item>
                <item name="newsletterSubscribeSubmit" xsi:type="string">newsletter_subscriber_new</item>
            </argument>
        </arguments>
    </type>
</config>
