<?xml version="1.0"?>
<!--
/**
 * Plumrocket Inc.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the End-user License Agreement
 * that is available through the world-wide-web at this URL:
 * http://wiki.plumrocket.net/wiki/EULA
 * If you are unable to obtain it through the world-wide-web, please
 * send an email to support@plumrocket.com so we can send you a copy immediately.
 *
 * @package     Plumrocket_GDPR
 * @copyright   Copyright (c) 2019 Plumrocket Inc. (http://www.plumrocket.com)
 * @license     http://wiki.plumrocket.net/wiki/EULA  End-user License Agreement
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Plumrocket\GDPR\Model\Locator\LocatorInterface" type="Plumrocket\GDPR\Model\Locator\RegistryLocator"/>
    <type name="Magento\Cms\Model\Page\DataProvider">
        <plugin name="prgdprCmsModelPageDataProvider" type="Plumrocket\GDPR\Plugin\Magento\Cms\Model\Page\DataProviderPlugin" sortOrder="10"/>
    </type>
    <type name="Magento\Cms\Block\Adminhtml\Page\Edit\SaveButton">
        <plugin name="prgdprCmsPageSaveButton"
                type="Plumrocket\GDPR\Plugin\Magento\Cms\Block\Adminhtml\Page\Edit\SaveButtonPlugin"
                sortOrder="10"/>
    </type>

    <virtualType name="Plumrocket\GDPR\Ui\DataProvider\Checkbox\Form\Modifier\Pool" type="Magento\Ui\DataProvider\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="eav" xsi:type="array">
                    <item name="class" xsi:type="string">Plumrocket\GDPR\Ui\DataProvider\Checkbox\Form\Modifier\Eav</item>
                    <item name="sortOrder" xsi:type="number">100</item>
                </item>
                <item name="system" xsi:type="array">
                    <item name="class" xsi:type="string">Plumrocket\GDPR\Ui\DataProvider\Checkbox\Form\Modifier\System</item>
                    <item name="sortOrder" xsi:type="number">200</item>
                </item>
                <item name="geo_targeting" xsi:type="array">
                    <item name="class" xsi:type="string">Plumrocket\GDPR\Ui\DataProvider\Checkbox\Form\Modifier\GeoTargeting</item>
                    <item name="sortOrder" xsi:type="number">300</item>
                </item>
                <item name="geo_targeting_usa_states" xsi:type="array">
                    <item name="class" xsi:type="string">Plumrocket\GDPR\Ui\DataProvider\Checkbox\Form\Modifier\GeoTargetingUsaStates</item>
                    <item name="sortOrder" xsi:type="number">400</item>
                </item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Plumrocket\GDPR\Ui\DataProvider\Checkbox\Form\CheckboxDataProvider">
        <arguments>
            <argument name="pool" xsi:type="object">Plumrocket\GDPR\Ui\DataProvider\Checkbox\Form\Modifier\Pool</argument>
        </arguments>
    </type>
</config>