<?xml version="1.0"?>
<!--
/**
 * @author Hexamarvel Team
 * @copyright Copyright (c) 2021 Hexamarvel (https://www.hexamarvel.com)
 * @package Hexamarvel_Attachments
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Hexamarvel_Attachments::main" title="Hexamarvel" sortOrder="51">
                    <resource id="Hexamarvel_Attachments::attachment" title="Attachments" sortOrder="10">
                        <resource id="Hexamarvel_Attachments::manage_attachments" title="Manage Attachments" sortOrder="20"/>
                        <resource id="Hexamarvel_Attachments::attachments_configuration" title="Configuration" sortOrder="30" />
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
